// Variables
@import "variables";
@import	"mixins";


*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
	width: $grid-width;
	max-width: $grid-max-width;
	margin: 0px auto;
	position: relative;
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;

	@include media-range(lg) {
		width: $grid-width - 2%; // slightly increases margins of grid at larger sizes to allow more spacing
		padding-right: $grid-gutter + .25rem;
		padding-left: $grid-gutter + .25rem;
	}
}
.grid__row { 
	@include gutter-compensation;
	@include flex-container;
	margin-bottom: $grid-spacing--vert-1;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	@include media-range(lg) {
		margin-bottom: $grid-spacing--vert-1 + .25rem;
	}

	.grid__row {
		margin-bottom: 0;
	}
}
.grid__col {
	@include flex-column;
}


@include media-range(sm) {

	.grid__col {
		max-width: 100%;
		flex-basis: 100%;
	}
	.col--sm {
		@include flex-column;
		max-width: 100%;
		flex-basis: 100%;
	}
	.grid__col:not(:first-of-type),
	.col--sm:not(:first-of-type) {
		margin-top: $grid-spacing--vert-1;
	}
 	.hidden--sm {
		display: none;
	}
}

@include media-range(md) {
	// .col--md {
	// 	@include flex-column;
	// }

	.col--md-1_8 {
		@include flex-column;
		max-width: 12.5%;
		flex-basis: 12.5%;
	}
	.col--md-2_8 {
		@include flex-column;
		max-width: 25%;
		flex-basis: 25%;
	}
	.col--md-3_8 {
		@include flex-column;
		max-width: 37.5%;
		flex-basis: 37.5%;
	}
	.col--md-4_8 {
		@include flex-column;
		max-width: 50%;
		flex-basis: 50%;
	}
	.col--md-5_8 {
		@include flex-column;
		max-width: 62.5%;
		flex-basis: 62.5%;
	}
	.col--md-6_8 {
		@include flex-column;
		max-width: 75%;
		flex-basis: 75%;
	}
	.col--md-7_8 {  
		@include flex-column;
		max-width: 87.5%;
		flex-basis: 87.5%;
	}
	.col--md-full {
		@include flex-column;
		max-width: 100%;
		flex-basis: 100%;
	}
	.hidden--md {
		display: none;
	}
}

@include media-range(lg) {
	.col--lg-1_12 {
		@include flex-column;
		max-width: 8.33333333333333%;
		flex-basis: 8.33333333333333%;
	}
	.col--lg-2_12 {
		@include flex-column;
		max-width: 16.66666666666666%;
		flex-basis: 16.66666666666666%;
	}
	.col--lg-3_12 {
		@include flex-column;
		max-width: 25%;
		flex-basis: 25%;
	}
	.col--lg-4_12 {
		@include flex-column;
		max-width: 33.33333333333333%;
		flex-basis: 33.33333333333333%;
	}
	.col--lg-5_12 {
		@include flex-column;
		max-width: 41.66666666666666%;
		flex-basis: 41.66666666666666%;
	}
	.col--lg-6_12 {
		@include flex-column;
		max-width: 50%;
		flex-basis: 50%;
	}
	.col--lg-7_12 {
		@include flex-column;
		max-width: 58.33333333333333%;
		flex-basis: 58.33333333333333%;
	}
	.col--lg-8_12 {
		@include flex-column;
		max-width: 66.66666666666666%;
		flex-basis: 66.66666666666666%;
	}
	.col--lg-9_12 {
		@include flex-column;
		max-width: 75%;
		flex-basis: 75%;
	}
	.col--lg-10_12 {
		@include flex-column;
		max-width: 83.33333333333333%;
		flex-basis: 83.33333333333333%;
	}
	.col--lg-11_12 {
		@include flex-column;
		max-width: 91.66666666666666%;
		flex-basis: 91.66666666666666%;
	}
	.col--lg-full {
		@include flex-column;
		max-width: 100%;
		flex-basis: 100%;
	}
	.hidden--lg {
		display: none;
	}

	// .col--lg-1_12

	// .col--lg-10_12

	// .offset--lg-7_12

	// .push--md-4_8

	// .first-col--sm

	// .col--lg-last
}
/* --- Specific grid based column sizes ------------ */



