// grid configuration
$grid-width: 100%;
$grid-max-width: 1440px;
$grid-gutter: .5rem;
$grid-gutter-compensation: $grid-gutter * -1;
// matches vertical spacing between .grid__rows to the size of $grid-gutter as a default
$grid-spacing--vert-1: $grid-gutter * 2;

// media breakpoints
$media-break--sm-max: 48rem;		//768px @ base-16
$media-break--md-min: 48.0625rem;	//769px @ base-16
$media-break--md-max: 68.75rem;		//1100px @ base-16
$media-break--lg-min: 68.8125rem;	//1101px @ base-16

// media ranges 
$media-range--sm: "screen and (max-width: #{$media-break--sm-max})"; // 768px @ base-16
$media-range--md: "screen and (min-width: #{$media-break--md-min}) and (max-width: #{$media-break--md-max})";
$media-range--lg: "screen and (min-width: #{$media-break--lg-min})";
