// Variables
// @import "config/variables";
// @import	"config/mixins";

html {
  background: #be1e2d;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444444;
  font-size: 16px;
  font-size: 100%;
  border-top: 3px solid #be1e2d;
  background: #ffffff;
  margin: 0;
  min-height: 100vh;
}

.logo {

  svg {
    display: inline-block;
    vertical-align: middle;
  }

  .version-tag {
    color: #949494;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    margin-top: 22px;
    margin-left: 2px;
    letter-spacing: .04em;
  }
}

section {
  padding: 3rem 0;
}

.section-title {
  font-size: 2rem;
  font-weight: 300;
  display: inline-block;
  color: #949494;
  margin: 0;
}

.input-group {

  i {
    display: none;
    position: absolute;
    right: 20px;
    top: 8px;
    color: #a4a4a4;
    cursor: pointer;
  }

}
.input--search {
  display: inline-block;
  line-height: 30px;
  width: 300px;
  font-size: 1rem;
  border: 1px solid #c4c4c4;
  padding-left: 8px;
  color: #be1e2d;
  letter-spacing: -.02em;
  float: right;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c4c4c4;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: #c4c4c4;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: #c4c4c4;
  }
}

.input--search:focus {
  outline: none;
  border: 1px solid #be1e2d;
  color: #be1e2d;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: .5;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    opacity: .5;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    opacity: .5;
  }

}

.section-header {
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 2.5rem;

  .grid__row {
    margin-bottom: .5rem;
  }
}

.icon-container {
  padding: 1rem;
  background: #f4f4f4;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 1rem;
  transition: all .2s ease;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background .2s ease;

  &:hover {
    background: #be1e2d;
    color: #ffffff;
  }

  i {
    // override the default alignment in src telicon.css
    margin-right: 12px;
    margin-top: -4px;
  }
}

.overflow--ellipsis {

}

@media screen and (max-width: 48rem) {
  .input--search {
    float: none;
    width: 100%;
  }
  .icon-container {
    margin-bottom: 0;
  }
}




