.code--inline {
	font-family: $font-family--mono;
	color: $color--primary;
    padding: 3px 7px 2px 5px;
    border: 1px solid rgba(192, 192, 201, 0.75);
    background: #fff;
    border-radius: 2px;
    font-size: .9375rem;
    white-space: nowrap;
}
.code-wrap {
	border-radius: 2px;
	display: block;
    position: relative;
    background: $color--white;
    box-shadow: 0 0 30px 0px rgba(0,0,0,.15);
    padding: 1.5rem;
    overflow-x: scroll;
    word-wrap: normal;

  	&:before {
	    font-family: $font-family--sans;
	    color: $color--steel-1;
		font-size: .875rem;
		letter-spacing: .04em;
		position: absolute;
		top: 0;
		right: 0;
		padding: .75rem;
		text-align: center;
		border-top-right-radius: 2px;
		border-left: 1px solid #c0c0c9;
		border-bottom: 1px solid #c0c0c9;
	}

  	&--html:before {
		content: "HTML";
	}

	&--css:before {
		content: "CSS";
	}

	code {
		font-family: $font-family--mono;
		font-size: .875rem;
	}

	.indent {
		margin-left: 2rem;

		&--2x {
			margin-left: 4rem;
		}
		&--3x {
			margin-left: 6rem;
		}
		&--4x {
			margin-left: 8rem;
		}
	}

	.value {
		color: $color--primary;
		display: inline-block;
	}
}
// code .attribute {
// 	color: #5995f7;
// 	display: inline-block;
// }