/*------------------------------------*\
  #BASE__TYPOGRAPHY
\*------------------------------------*/

// 1.5 - Perfect Fifth scale *** base: 16px = 1rem
html {
    font-size: 1em;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    color: #444444;
}
p {
    margin-bottom: 1.3em;

    // font-family: 'Merriweather', serif;
    // font-size: .875rem;
    // line-height: 1.75;
}
h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}
h1 {
    margin-top: 0;
    font-size: 5.063rem;
}
h2 {
    font-size: 3.375rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 1.5rem;
}
small, .font--small {
    font-size: 0.875rem;
}


strong.highlight {
    color: $color--primary;
}