.hero {
	height:	100vh;
	max-height: 100vh;
	border-top: 3px solid #8f35f1;
    // padding: 16rem 0 3rem;
    @include flex-container;
    // flex-direction: row;
    align-items: center;
}

.hero-content {
    flex-grow: 1;
    color: $color--steel-1;
}

.hero__logo {
	margin: 0;
}

.hero__intro {
	font-size: 1.5rem;
}

.hero__actions {
    margin-top: 2rem;
}

.hero__btn {
	background: $color--primary;
	display: inline-block;
	padding: 12px 16px;
	@include border-radius(2px);
	color: $color--white;
	transition: all 0.2s;

	&:hover,
	&:focus {
		background: $color--primary-2;
		@include box-shadow(0 2px 8px rgba(32,32,32,0.24));
		transform: translateY(-1px);
	}

	&:focus {
		outline: none;
	}
}

.hero__btn:not(:last-of-type) {
	margin-right: 1rem;
}

.hero__git-cta svg {
	fill: $color--white;
	position: absolute; 
	top: 0; 
	right: 0;

	.corner-bg {
		fill: $color--primary;
	}
}