.hero {
	height:	100vh;
	max-height: 100vh;
	background: $color--char-1;
	// color: $color--white;

    box-shadow: inset 0 0 50px 0px rgba(0,0,0,.35);

    @include flex-container;
    flex-direction: row;
}
.hero-content {
    text-align: center;
    align-self: center;
    flex-grow: 1;
    color: $color--steel-1;

    .hero__symbol {
    	width: 6rem;
    }
    .hero__title {
	    margin: 1rem 0 2rem;
	    color: #ffffff;
	    text-transform: uppercase;
	    font-weight: 600;
	    letter-spacing: .15em;
	    font-family: 'titillium web', sans-serif;

	    .letter-e {
			display: inline-block;
		    height: 37px;
		    position: relative;
		    width: 26px;
		    margin: 0 -10px 0 -16px;

	    	.top {
			    display: block;
			    width: 100%;
			    height: 5px;
			    background: $color--primary;
			    position: absolute;
			    top: 0;
			    left: 0;
	    	}
	    	.mid {
			    display: block;
			    width: 75%;
			    height: 5px;
			    background: $color--primary;
			    position: absolute;
			    top: calc(50% - 3px);
			    left: 0;
	    	}
	    	.bottom {
			    display: block;
			    width: 100%;
			    height: 5px;
			    background: $color--primary;
			    position: absolute;
			    bottom: 0;
			    left: 0;
	    	}
	    }
	    .suffix {
	    	font-weight: 400;
	    }
    }
    .hero__descrip {
    	margin: 0;
    	color: $color--steel-1;
    	font-family: 'Merriweather', serif;
    	font-size: 1.125rem;
	    font-family: "Consolas", monospace;
    }
    .hero__actions {
    	margin-top: 2rem;

    	.btn-wrap {
    		display: inline-block;
    		margin-right: .25rem;
    	}
    }
}