// variables go here...

$color--content-bg: rgba(144, 144, 153, .6);

$color--primary: #8F35F1;
$color--blue: rgba(38, 148, 243, 1);
$color--green: rgba(27, 214, 127, 1);
$color--white: #ffffff;
$color--char-1: #202029;
$color--char-2: #404049;
$color--steel-1: #606069;
$color--steel-2: #909099;
$color--smoke-1: #c0c0c9;
$color--smoke-2: #f0f0f9;

$font-family--sans: 'Source Sans Pro', sans-serif;
$font-family--serif: 'Merriweather', serif;
$font-family--mono: 'Consolas', monospace;

