*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 68.8125rem) {
  .grid {
    width: 98%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

.grid__row {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
@media screen and (min-width: 68.8125rem) {
  .grid__row {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
}
@media screen and (min-width: 68.8125rem) {
  .grid__row {
    margin-bottom: 1.25rem;
  }
}
.grid__row .grid__row {
  margin-bottom: 0;
}

.grid__col {
  display: block;
  padding: 0 0.5rem;
  position: relative;
  min-height: 1px;
  flex-grow: 1;
  flex-shrink: 1;
}
@media screen and (min-width: 68.8125rem) {
  .grid__col {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (max-width: 48rem) {
  .grid__col {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col--sm {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (max-width: 48rem) and (min-width: 68.8125rem) {
  .col--sm {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (max-width: 48rem) {
  .grid__col:not(:first-of-type),
  .col--sm:not(:first-of-type) {
    margin-top: 1rem;
  }

  .hidden--sm {
    display: none;
  }
}
@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) {
  .col--md-1_8 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 12.5%;
    flex-basis: 12.5%;
  }
}
@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) and (min-width: 68.8125rem) {
  .col--md-1_8 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) {
  .col--md-2_8 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 25%;
    flex-basis: 25%;
  }
}
@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) and (min-width: 68.8125rem) {
  .col--md-2_8 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) {
  .col--md-3_8 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 37.5%;
    flex-basis: 37.5%;
  }
}
@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) and (min-width: 68.8125rem) {
  .col--md-3_8 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) {
  .col--md-4_8 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) and (min-width: 68.8125rem) {
  .col--md-4_8 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) {
  .col--md-5_8 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 62.5%;
    flex-basis: 62.5%;
  }
}
@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) and (min-width: 68.8125rem) {
  .col--md-5_8 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) {
  .col--md-6_8 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 75%;
    flex-basis: 75%;
  }
}
@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) and (min-width: 68.8125rem) {
  .col--md-6_8 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) {
  .col--md-7_8 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 87.5%;
    flex-basis: 87.5%;
  }
}
@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) and (min-width: 68.8125rem) {
  .col--md-7_8 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) {
  .col--md-full {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) and (min-width: 68.8125rem) {
  .col--md-full {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 48.0625rem) and (max-width: 68.75rem) {
  .hidden--md {
    display: none;
  }
}
@media screen and (min-width: 68.8125rem) {
  .col--lg-1_12 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 8.33333333333333%;
    flex-basis: 8.33333333333333%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-1_12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .col--lg-2_12 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 16.66666666666666%;
    flex-basis: 16.66666666666666%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-2_12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .col--lg-3_12 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 25%;
    flex-basis: 25%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-3_12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .col--lg-4_12 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 33.33333333333333%;
    flex-basis: 33.33333333333333%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-4_12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .col--lg-5_12 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 41.66666666666666%;
    flex-basis: 41.66666666666666%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-5_12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .col--lg-6_12 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-6_12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .col--lg-7_12 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 58.33333333333333%;
    flex-basis: 58.33333333333333%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-7_12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .col--lg-8_12 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 66.66666666666666%;
    flex-basis: 66.66666666666666%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-8_12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .col--lg-9_12 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 75%;
    flex-basis: 75%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-9_12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .col--lg-10_12 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 83.33333333333333%;
    flex-basis: 83.33333333333333%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-10_12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .col--lg-11_12 {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 91.66666666666666%;
    flex-basis: 91.66666666666666%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-11_12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .col--lg-full {
    display: block;
    padding: 0 0.5rem;
    position: relative;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 68.8125rem) and (min-width: 68.8125rem) {
  .col--lg-full {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (min-width: 68.8125rem) {
  .hidden--lg {
    display: none;
  }
}
/* --- Specific grid based column sizes ------------ */

/*# sourceMappingURL=spyder-3.0.css.map */
