.code--inline {
	font-family: $font-family--mono;
	color: $color--primary;
    padding: 3px 5px 2px 5px;
    border: 1px solid $color--smoke-1;
    background: #fff;
    border-radius: 2px;
    font-size: .875rem;
    white-space: nowrap;
}
.code__block {
	border-radius: 2px;
	display: block;
    position: relative;
    background: $color--smoke-2;
    // box-shadow: 0 1px 4px 0 rgba(46, 46, 50, 0.24);
    padding: 1.5rem;
    overflow-x: scroll;
    word-wrap: normal;

  	&:before {
	    font-family: $font-family--sans;
	    color: $color--char-2;
		font-size: .875rem;
		letter-spacing: .04em;
		position: absolute;
		top: 0;
		right: 0;
		padding: .75rem;
		text-align: center;
		border-top-right-radius: 2px;
		// border-left: 1px solid #c0c0c9;
		// border-bottom: 1px solid #c0c0c9;
		background: $color--smoke-1;
		z-index: 2;
	}

  	&--html:before {
		content: "HTML";
	}

	&--css:before {
		content: "CSS";
	}

	.code__pre {
		overflow-x: auto;
	    -ms-word-wrap: normal;
	    word-wrap: normal;
	    overflow-wrap: normal;
	    white-space: nowrap;
	}

	.code {
		font-family: $font-family--mono;
		font-size: .875rem;
	}

	.indent {
		margin-left: 2rem;

		&--2x {
			margin-left: 4rem;
		}
		&--3x {
			margin-left: 6rem;
		}
		&--4x {
			margin-left: 8rem;
		}
	}

	.value {
		color: $color--primary;
		display: inline-block;
	}

	.comment {
		color: $color--steel-2;
	}
}
// code .attribute {
// 	color: #5995f7;
// 	display: inline-block;
// }